*{margin: 0;padding: 0; box-sizing: border-box;}
nav li {display: inline;}
li a {text-decoration: none;}
nav {
  background-color: aquamarine;
  display: flex;
  justify-content: center;
}


main {
  display: flex;
  justify-content: center;
}


section { 
  width: 70vw;
  background-color: rgb(215, 234, 249);
}


aside{
  width: 30vw;
  background-color:  rgb(44, 91, 132);
}

main aside div.perfil h2{
  text-align: center;
}

.boton{
  background-color:rgb(255, 195, 127);
  display: inline-block;
  color: black;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}
.boton-posteos{
  background-color:rgb(59, 210, 195);
  display: inline-block;
  color: black;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}

.boton-redes{
  background-color:tan;
  display: inline-block;
  color: black;
  padding: 5px 10px;
  margin: 5px;
  text-decoration: none;
  text-align: center;
  border-radius: 8px;
}

article {
  padding: 3vh;
}

footer {
      background: rgb(130, 130, 229);
      color: white;
      text-align: center;
      display: flex;
      justify-content: space-around;
      padding: 20px 0;
    }
    .columna {
      flex: 1;
      padding: 0 10px;
    }

    #columna2 ul {
      list-style: none;
      padding: 0;
    }

    #columna3 ul {
      padding: 0;
      margin: 0;
    }

    #columna3 ul li {
      display: inline-block;
      margin: 0 5px;
    }

.imagen-centrada {
    width: 50%;
    max-width: 100%;    
    display: block;
    margin: 0 auto;
    height: auto;       
}

.img-perfil {
  width: 40vw;        
  max-width: 180px;    
  aspect-ratio: 1/1;   
  object-fit: cover;   
  border-radius: 50%;  
  display: block;
  margin: 0 auto;     
    }
